# ============================================================
# POSTGRES
# ============================================================
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=weather_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ============================================================
# AIRFLOW
# ============================================================
AIRFLOW_UID=50000
FERNET_KEY=generate_with_python_cryptography_fernet
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://your_username:your_password@postgres/weather_db

# ============================================================
# AIRFLOW ADMIN USER
# ============================================================
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin

# ============================================================
# AIRFLOW CONNECTIONS
# ============================================================
AIRFLOW_CONN_WEATHER_DB=postgresql://your_username:your_password@postgres:5432/weather_db

# ============================================================
# OPEN-METEO
# ============================================================
WEATHER_API_BASE_URL=https://api.open-meteo.com/v1/forecast
WEATHER_FORECAST_DAYS=1
WEATHER_TIMEZONE=Africa/Johannesburg

# ============================================================
# SODA
# ============================================================
SODA_HOST=postgres
SODA_PORT=5432
SODA_USERNAME=your_username
SODA_PASSWORD=your_password
SODA_DATABASE=weather_db
SODA_SCHEMA=silver

# ============================================================
# PIPELINE CONFIG
# ============================================================
DATA_OUTPUT_DIR=/opt/airflow/data
PIPELINE_OWNER=rocket
PIPELINE_RETRIES=3
PIPELINE_RETRY_DELAY_MINUTES=5